.body{
    background-color: #FFFDF7;
    display: flex;
    flex-direction: column;
    margin: 5% 15% 5% 15%;
    padding: 10px 16px;  
    --main-txt-font: 'Lato', sans-serif;
    --main-txt-color:#333;
    --footer-text-font: 'Lato', sans-serif;   
    --highlight-txt-color: #CB1B1A;
}

.main{
    font-family: var(--main-txt-font);
    color: var(--main-txt-color);
    height: 80vh;
     
}
.h1{
    font-family: 'Playfair Display', sans-serif;
    font-size: xx-large;
    letter-spacing: 2px;
    margin: 0%;
   }
 @keyframes pulsar{
    0% {
        transform: scale(.8)
    }

    100% {
        transform: scale(1.2)
    }
}

.logo{
    display: block;
    width: 30%; 
    max-width: fit-content; 
    height: auto; 
    object-fit: cover; 
}

.article__header div{
    font-size: 18px;
    font-weight: lighter;
}

.article__header p{
    color: var(--highlight-txt-color);
    margin-top: 2px
}

.profile{
    display: flex;   
    padding-bottom: 56px;
}


/*SLIDESHOW*/
.slideshow-container {
    box-sizing: border-box;
    max-width: 450px;
    position: relative;
    margin: auto;
}
 
/* Caption text */
 .text {
    background-color: rgba(41, 32, 32, 0.8);
    color: #f2f2f2;
    border: 1px hidden black;
    border-radius: 10px;
    font-size: 15px;
    padding: 8px 0;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}  

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.section__content{
    padding: 16px 0
}

.section__title{
    font-family: 'Playfair Display', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px 0;
    cursor: pointer;
}

.section__title:hover{
    opacity: 0.7;
    cursor: pointer;
}

.article_txt{
    font-size: 18px;
}
.blockquote{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Agbalumo & family';
    font-size: 22px;
    color:#464545;
    font-style: italic;  
}

.section_references_links{
    padding-top: 8px;
    line-height: 120%;
}

a:link{
    color:--highlight-txt-color;
}

a:visited{
    color: purple;
}

a:hover{
    opacity: 0.8;
}

a:active{
    color: blue;
}

.footer {  
    flex-direction: column;
    background-color: #B3C9D6;
    padding: 20px 10px;
    

    flex-shrink: 0;
    text-align: center;
   
    border-radius: 10px;
    margin-top: 40px;
}

.footer_social_media{
    display: inline-block;
    vertical-align: top;
    padding-bottom: 10px;
}

.icon_github{
    width: 40px;
}
    
.icon_linkedin{
    width: 40px;
}

.footer_txt{
    font-family: 'Lato', sans-serif;;
    color: #333;
    justify-content: center;
    font-size: 14px;
    line-height: 16px;
    padding: 0 5%;
}

.footer_icon:hover {
    opacity: .6;
}

.footer_icon:focus{
    outline: none; 
    background-color: #808080;
    border-radius: 5px;
}

/*ajuste para smartphones*/
@media screen and (max-width: 576px) and (orientation: portrait) {
    .body { 
        margin: 5% 5% 5% 5%; 
    }
    .article__header div{
        font-size: 16px;
    }
    .slideshow-container {
        max-width: 200px;
    }
    .text {
        font-size: 14px;
        font-weight: lighter;
    }
    .blockquote{
        font-size: 16px; 
        text-align: center;
    }
}
@media screen and (max-width: 576px) and (orientation: landscape) {
    .body { 
        margin: 5% 5% 5% 5%; 
    }
    .logo{
        width: 20%; 
    }
    .article__header div{
        font-size: 18px;
    }
    .slideshow-container {
        max-width: 350px;
    }
    .text {
        font-size: 16px;
        font-weight: lighter;
    }
    .blockquote{
        font-size: 18px; 
        text-align: center;
    }
}

/*ajuste para tablets*/
@media screen and (min-width: 768px) and (orientation: portrait) {
    .body { 
        margin: 5% 5% 5% 5%; 
    }
    .logo{
        width: 30%; 
    }
    .article__header div{
        font-size: 18px;
    }
    .slideshow-container {
        max-width: 350px;
    }
    .text {
        font-size: 16px;
        font-weight: lighter;
    }
    .section__title{
        font-size: 24px;
    }
    .article_txt{
        font-size: 20px;
    }
    .blockquote{
        font-size: 20px; 
        text-align: center;
    }
    .footer_txt{
        font-size: 16px;
    }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
    .body { 
        margin: 5% 5% 5% 5%; 
    }
    .logo{
        width: 20%; 
    }
    .article__header{
        font-size: large;
    }
    .slideshow-container {
        max-width: 450px;
    }
    .text {
        font-size: 18px;
        font-weight: lighter;
    }
    .section__title{
        font-size: 28px;
    }
    .article_txt{
        font-size: 22px;
    }
    .blockquote{
        font-size: 22px; 
        text-align: center;
    }
    .footer_txt{
        font-size: 18px;
    }

}

/*ajuste para tablets maiores e notebooks*/
@media screen and (min-width: 992px) and (max-width: 993px) and (orientation: portrait) {
    .body { 
        margin: 5% 5% 5% 5%; 
    }
    .logo{
        width: 25%; 
    }
    .article__header div{
        font-size: 20px;
    }
    .slideshow-container {
        max-width: 400px;
    }
    .text {
        font-size: 20px;
        font-weight: lighter;
    }
    .section__title{
        font-size: 28px;
    }
    .article_txt{
        font-size: 24px;
    }
    .blockquote{
        font-size: 2px; 
        text-align: center;
    }
    .footer_txt{
        font-size: 20px;
    }
    
    
}
@media screen and (min-width: 992px) and (max-width: 993px) and (orientation: landscape) {
    .body { 
        margin: 5% 5% 5% 5%; 
    }
    .logo{
        width: 20%; 
    }
    .article__header div{
        font-size: 22px;
    }
    .slideshow-container {
        max-width: 400px;
    }
    .text {
        font-size: 20px;
        font-weight: lighter;
    }
    .section__title{
        font-size: 30px;
    }
    .article_txt{
        font-size: 25px;
    }
    .blockquote{
        font-size: 27px; 
        text-align: center;
    }
    .footer_txt{
        font-size: 20px;  
    }
}

